*{
  box-sizing: border-box;
}

.item:first-child{
  color:red;
}

.item:last-child{
  background-color: yellow;
}

div.container > .item:nth-child(2n +1){
  background-color: crimson;
  color: white;
}


